<?xml version="1.0"?>
<configuration>
	<configSections/>
	<appSettings>
		<add key="MailServer" value="dedrelay.secureserver.net"/>
		<add key="errorEmail" value="rianchipman@gmail.com"/>
		<add key="EMP" value="Data Source=(local);Integrated Security=True;Initial Catalog=SuperDatabase;persist security info=True;packet size=4096;Connection Lifetime=202130;Pooling=True"/>
		<add key="DSN" value="Data Source=(local);Integrated Security=True;Initial Catalog=SuperDatabase;persist security info=True;packet size=4096;Connection Lifetime=202130;Pooling=True"/>
		<add key="PT" value="Data Source=(local);Integrated Security=True;Initial Catalog=SuperDatabase;Min Pool Size=1;Connection Reset=false"/>
	</appSettings>
	<system.web>
		<authorization>
			<allow users="*"/>
		</authorization>
		<pages enableSessionState="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Data"/>
				<add namespace="System.Data.SqlClient"/>
			</namespaces>
		</pages>
		<httpRuntime maxRequestLength="73400" enable="true" executionTimeout="3600" requestValidationMode="2.0"/>
		<sessionState timeout="360" mode="StateServer"/>
		<!-- <sessionState timeout="360" mode="StateServer" stateConnectionString ="tcpip=127.0.0.1" /> -->
		<trace enabled="false"/>
		<compilation debug="true" batch="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/-->
			</assemblies>
		</compilation>
		<authentication mode="Windows"/>
		<identity impersonate="false"/>
		<customErrors mode="Off">
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="Access-Control-Allow-Methods" value="GET"/>
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="true"/>
		<handlers accessPolicy="Read, Execute, Script">
			<!-- <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python36\python.exe %s %s" resourceType="Unspecified"/> -->
			<add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files (x86)\Python36-32\python.exe %s %s" resourceType="Unspecified"/>
		</handlers>
		<httpErrors errorMode="Detailed"/>
	</system.webServer>
	<location path="MaterialDetails.aspx">
		<system.webServer>
			<urlCompression doStaticCompression="false" doDynamicCompression="false"/>
		</system.webServer>
	</location>
	<location path="ADRSearch.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<!-- Enable for WCF 
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
-->
	<!-- Enable for Trace.Write() support
    <system.diagnostics>
        <trace autoflush="true" indentsize="2" />
        <switches>
          <add name="TraceSwitch" value="3" />
        </switches>
    </system.diagnostics>
-->
</configuration>
